*.dirstamp
*.so
*.o
*.lo
*.la
*.a
*.log
*.tmp
*.dis
*~
*.orig
*.swp
*.swo
*.m4
*.kdev4

Makefile.in
Makefile.vex.in
Makefile
.deps
.libs
autom4te.cache
config.*
configure
install-sh
ltmain.sh
missing
depcomp
libtool
compile
m4
ar-lib
test-driver

/build-*
/build/*

aclocal.m4
configure
config.h.in

!.gitignore

# Giant list of files from compiling
.in_place/
auxprogs/getoff-amd64-linux
auxprogs/valgrind-di-server
auxprogs/valgrind-listener
cachegrind/cachegrind-amd64-linux
cachegrind/cg_annotate
cachegrind/cg_diff
cachegrind/cg_merge
callgrind/callgrind-amd64-linux
callgrind/callgrind_annotate
callgrind/callgrind_control
coregrind/link_tool_exe_darwin
coregrind/link_tool_exe_linux
coregrind/link_tool_exe_solaris
coregrind/valgrind
coregrind/vgdb
default.supp
drd/drd-amd64-linux
drd/scripts/download-and-build-splash2
exp-bbv/exp-bbv-amd64-linux
exp-dhat/exp-dhat-amd64-linux
exp-sgcheck/exp-sgcheck-amd64-linux
glibc-2.X.supp
helgrind/helgrind-amd64-linux
inst/
lackey/lackey-amd64-linux
massif/massif-amd64-linux
massif/ms_print
memcheck/memcheck-amd64-linux
memcheck/tests/vbit-test/vbit-test
none/none-amd64-linux
stamp-h1
valgrind.pc
